.siderbar {
  margin: 0;
  background-color: rgb(190, 190, 190);
  display: flex;
  flex-direction: row;
  flex: 0.1;

  .sider_left {
    width: 45px;
    display: flex;
    flex: 1;
    justify-content: space-between;
    padding: 20px;
    border-right: 1px solid lightgray;
    flex-direction: column;
    background-color: #2a2d32;

    .sider_left_top {
      flex: 0.05;
      .MuiAvatar-root {
      }
    }

    .sider_left_bottom {
      flex: 0.85;
      flex-direction: column;
      justify-content: space-between;
      top: 20px;

      .MuiSvgIcon-root {
        font-size: 24px;
        color: #5f6366;
      }

      .sider_left_foot {
        flex: 0.1;
      }
    }
  }
}
