.profile {
  display: grid;
  place-items: center;
  height: 100vh;
  background-color: lightgrey;
  background-image: url("../../../public/Assets/256190.jpg");
  background-size: cover;
  .body {
    display: flex;
    background-color: rgb(206, 206, 206);
    margin-top: -50px;
    height: 90vh;
    width: 150vh;
    box-shadow: -10px 4px 20px -10px rgba($color: #0a0505, $alpha: 1);

    .profileContainer {
      background-color: aliceblue;
      width: 100%;
      display: flex;
      flex-direction: column;
      overflow: scroll;


      .profile_Name_Card {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-left: auto;
        margin-right: auto;
        width:100%;

        .profileCoverImg{
          top:0;
          height: 250px;
          object-fit: cover;
          position: relative;
        }
        .profileProfileImg{
          position: relative;
          width: 200px;
          height: 200px;
          margin-top: 50px;
          margin-bottom: 30px;
          object-fit: cover;
          
        }
        .profile_info{
          justify-content: center;
          align-items: center;
          display: flex;
          flex-direction: column;
          margin-bottom: 10px;
        }
        .profile_banner{
          position: relative;
          display: flex;
          .profile_share{
            flex:0.5;
          }
          .profile_top_info {
            flex:0.5;
            margin: 20px;
          }

        }

      }

      .profile_bottom{
        margin-left: 50px;
        margin-right: 50px;
      }
    }
  }
}
