.message{
    img{
        width: 50px;
        height: 50px;
    }
    .chat_message {
        position: relative;
        font-size: 16px;
        padding: 10px;
        width: fit-content;
        border-radius: 10px;
        background-color: rgb(190, 189, 189);
        margin-bottom: 30px;
    
        .chat_name {
          position: absolute;
          top: -15px;
          font-weight: 800;
          font-size: xx-small;
        }
        .chat_time {
          font-size: xx-small;
        }
      }
    
      .chat_receiver {
        margin-left: auto;
        background-color: #a3ef73;
      }
}


